root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true

[*.{cs,cshtml,html,htm,js,tsc,tsx,jsx}]
indent_size = 4

[*.{toml,json,yaml,yml,css}]
indent_size = 2
insert_final_newline = false
