@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="fw-bold">@DateTime.Now</h4>
</div>

<div class="text-center">
    <h1 class="display-4">Capella87</h1>
    <p><a href="https://capelladev.com">More details on my humble website..</a>.</p>
</div>

<div class="text-center">
    <p>Name: @ViewBag.Name</p>
    <p>Future Value: @ViewBag.FV.ToString("C2")</p>
</div>
